{% extends 'teamLeadHome.html' %} {% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section dark-background contact">

   <img src="../static/assets/img/hero-bg-user.jpg" alt="" data-aos="fade-in">

  <div class="container">
      <div class="col-lg-12">
        <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <i class="bi bi-card-list"></i>
                <h3><a href="">Update Profile</a></h3>
              </div>
            </div>
        </div>
        <br><br>


        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% endif %}


        
        <form method="post" class="php-email-form" enctype="multipart/form-data" onsubmit="return validateEmail()">
            {% csrf_token %}
            {% for i in data %}
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" pattern="[A-Za-z\s]{1,}" name="name" class="form-control" placeholder="Name" value="{{ i.name }}" required="">
            </div>
            <div class="col-md-6">
              <input type="text" pattern="[A-Za-z\s]{1,}" name="lname" class="form-control" placeholder="Last Name" value="{{ i.lname }}" required="">
            </div>
            <div class="col-md-6">
              <input type="text"  name="username" class="form-control" placeholder="Username" value="{{ i.username }}" required="">
            </div>
            <div class="col-md-6">
                <input type="email" id="w3lSender" name="email" class="form-control" placeholder="E-mail" value="{{ i.email }}" required="">
                <span id="email-error" style="color: red;"></span>
            </div>
            <div class="col-md-6">
                <input type="tel" pattern="[6789][0-9]{9}" maxlength="10" name="phone" class="form-control" placeholder="Phone no" value="{{ i.phone }}" required="">
            </div>
            <div class="col-md-6">
                <input type="text"   name="dept" class="form-control" placeholder="Department" value="{{ i.department }}" readonly required="">
            </div>
            
            <div class="col-md-6">
                <input type="text" class="form-control" name="course" placeholder="Course Completed" value="{{ i.course_completed }}" readonly required="">
            </div>
            
            <!-- <div class="col-md-6">
                <input type="password" class="form-control" name="password" placeholder="Reset Password" required="" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Must contain at least one number and one uppercase and lowercase letter and special character, and at least 8 or more characters">
            </div> -->
            
            
            <div class="col-md-6">
                <textarea name="address" id="" class="form-control" placeholder="Address" required="">{{ i.address }}</textarea>
            </div>
            <div class="col-md-12 text-center">
              <!-- <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div> -->
              <button type="submit">Update</button>
            </div>
          </div>
          {% endfor %}
        </form>
<br>
        <center><a href="teamUpdatePassword" class="btn btn-success">Update Password</a></center><br>
      </div><!-- End Contact Form -->

  </div>

</section><!-- /Hero Section -->



<script>
   

    function validateEmail() {
        let emailField = document.getElementById("w3lSender");
        let errorMsg = document.getElementById("email-error");
        
        if (!emailField.value.endsWith("@gmail.com")) {
            errorMsg.innerText = "Only Gmail addresses are allowed.";
            return false;
        } else {
            errorMsg.innerText = "";
            return true;
        }
    }
</script>

{% endblock %}